/* CSS BANNIERE */
.banniere {
    margin-top: 0;
    padding: 220px 0 100px 0;
    background-color: #835e83bb;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banniere .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgb(206, 179, 222) -5.91%, rgba(59, 20, 79, 0.474) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
  }
  .banniere h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    font-family: 'Dancing Script', cursive;
  }
  .banniere p {
    color: #B8B8B8;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
  
  .banniere img {
    animation: updown 3s linear infinite;
  }
  @keyframes updown {
      0% {
          transform: translateY(-10px);
      }
      50% {
          transform: translateY(0px);
      }
      100% {
          transform: translateY(-10px);
      }
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }
  

  @media screen and (max-width: 992px){
    .banniere .tagline {
      font-weight: 500;
      letter-spacing: 0.8px;
      font-size: 15px;
    
    }
  }
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .banniere .tagline {
      font-weight: 500;
      letter-spacing: 0.8px;
      font-size: 15px;
      
    }
  }
  @media screen and (max-width: 576px) {
    .banniere .tagline {
      font-weight: 500;
      letter-spacing: 0.8px;
      font-size: 15px;
     
    }
  }
  /* For small devices */
  @media screen and (max-width: 350px) {
    .banniere .tagline {
      font-weight: 500;
      letter-spacing: 0.8px;
      font-size: 15px;
    }
  }