/* CSS PSYCHOMOT */
.psychomot {
    padding: 100px 0 50px 0;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: url('../assets/img/cerisier3.jpg') center center/cover no-repeat;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(121, 84, 154, 0.65);
    
  }
  .psychomot__container {
    
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 3.5rem;
    column-gap: 2rem;
    align-items: center;
    row-gap: 7rem;
  }

  .psychomot__img {
    background: url(../assets/img/lava.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
    justify-self: center;
    width: 400px;
    height: 400px;
    order: 1;
    animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate {
  0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
  
  .psychomot h3 {
    justify-content: center;
    text-align: center;
      font-size: 35px;
      font-weight: 700;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 2rem;
  }

  .psychomot__subtitle {
    font-size: 35px !important;
    font-weight: 700;
    padding: 15px 30px;
    text-align: center;
}

  .psychomot p {
      color: #fff;
      justify-content: center;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 10px 0 25px 0;
      
  }
  
  .psychomot__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
    
}


.psychomot__imgfilter {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
  order: 0;
  justify-self: center;
  width: 115%;
  height: auto;
}

.psychomot__description2 {
  margin-bottom: 2.5rem;
  text-align: left;
  padding: 0 0 0 4rem;
}

.psychomot__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    margin-bottom: 5rem;
    font-size: 20px;
}

.psychomot__item {
    cursor: pointer;
    color: #fff;
    padding: 2rem 4rem;
    background-color: #bca3b2;
    font-weight: 500;
    border-radius: 0.5rem;
    text-transform: capitalize;
}

.psychomot__item:hover {
    background-color: rgb(70, 58, 77);
    color: #fff;
}

/* BREAKPOINTS */
@media screen and (max-width: 992px) {
  .psychomot p {
    font-size: 15px;
  }

  .psychomot__imgfilter {
    width: 100%;
    height: auto;
}

.psychomot__img {
  width: 250px;
  height: 250px;
  box-shadow: inset 0 0 0 8px rgb(255 255 255 / 30%);
}

.psychomot__filters {
        
  column-gap: 1rem;
 
}
.psychomot__container {
  grid-template-columns: 1fr;
  row-gap: 2.5rem;
}
.psychomot__description2 {
  text-align: justify;
  padding: 0 0 0 0;
}
.psychomot__item {
  padding: 0.25rem 0.75rem;
}
}

@media screen and (max-width: 576px) {
  .psychomot p {
    font-size: 15px;
  }

  .psychomot__imgfilter {
    width: 100%;
    height: auto;
}
  .psychomot__description2 {
    text-align: justify;
    padding: 0 0 0 0;  
  }
  .psychomot__item {
    padding: 0.25rem 0.75rem;
  }

  .psychomot__filters {
        
    column-gap: 0.5rem;
   
}
}

/* For small devices */
@media screen and (max-width: 350px) {
  .psychomot p {
    font-size: 15px;
  }

  .psychomot__imgfilter {
    width: 100%;
    height: auto;
}
.psychomot__description2 {
  text-align: justify;
  padding: 0 0 0 0;
}
.psychomot__item {
  padding: 0.25rem 0.75rem;
}

}