/* Services CSS*/
.service {
    padding: 100px 0 50px 0;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: url('../assets/img/cerisier2.jpg') center center/cover no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(67, 39, 91, 0.65);
    object-fit: contain;
  }
  .service-bx {
  
    margin-top: -60px;
  }

  .service-bx2 {
 
    margin-top: -60px;
  }

  .entretien {
    background-color: rgb(70, 58, 77);
    border-radius: 15px;
    text-align: center;
    margin: 1rem 1rem 1rem;
    padding: 3rem 3rem 3rem;
    
  }

  .bilan {
    background-color: rgb(70, 58, 77);
    border-radius: 15px;
    text-align: center;
    margin: 1rem 1rem 1rem;
    padding: 3rem 3rem 3rem;
    
  }

  .bilanres {
    background-color: rgb(70, 58, 77);
    border-radius: 15px;
    text-align: center;
    margin: 1rem 1rem 1rem;
    padding: 3rem 3rem 3rem;
    
  }

  .suivi {
    background-color: rgb(70, 58, 77);
    border-radius: 15px;
    text-align: center;
    margin: 1rem 1rem 1rem;
    padding: 3rem 3rem 3rem;
    
  }

  .secteur {
    
    border: 3px solid rgb(70, 58, 77);
    border-radius: 15px;
    text-align: center;
    margin: 1rem 1rem 1rem;
    padding: 3rem 3rem 3rem;
    
  }

  .service strong{
    text-decoration: underline;
    font-size: 18px;
  }

  .prescription__title {
    margin-top: 8rem;
  }
  .service h3 {
    
    justify-content: center;
    text-align: center;
      font-size: 35px;
      font-weight: 700;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 3rem;
  }
  .service p {
      color: #fff;
      justify-content: center;
      font-size: 15px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 10px 0 25px 0;
      
  }
  .service td {
    color: #fff;
    justify-content: center;
    font-size: 15px;
    letter-spacing: 0.8px;
  }
  
  .service th {
    color: #fff;
    justify-content: center;
    font-size: 15px;
    letter-spacing: 0.8px;
  }
  
  .background-image-center {
    position: absolute;
    width: 100%;
    z-index: -4;
  }

  .service__ul {
    margin-top: 3rem;
    text-align: left;
  }

  .service__ul1 {
    list-style: square;
    text-align: left;
    margin-top: 2rem;
    margin-left: 28rem;
  }

  @media screen and (max-width: 1200px) {
    .service__ul1 {
      margin-left: 17rem;
    }
  }

 @media screen and (max-width: 992px) {
    .entretien {
      text-align: center;
      padding:  2rem 2rem 2rem;
    }

    .bilan {
      text-align: center;
      padding:  2rem 2rem 2rem;
    }

    .bilanres {
      text-align: center;
      padding:  2rem 2rem 2rem;
    }

    .suivi {
      text-align: center;
      padding:  2rem 2rem 2rem;
    }

    .secteur {
      text-align: center;
      padding:  1rem 1rem 1rem;
    }
    .service__ul1 {
      text-align: left;
      list-style: inside;
      margin-top: 2rem;
      margin-left: 0rem;
    }
 }