/* Mentions */
.mention {
    margin-top: 0;
    padding: 200px 0 100px 0;
    background: rgb(215,183,215);
    background: linear-gradient(145deg, rgba(215,183,215,1) 0%, rgba(179,152,179,1) 35%, rgba(119,102,119,1) 100%);
    
    
  }
  
  
  
  .mention h3 {
    justify-content: center;
    text-align: center;
      font-size: 35px;
      font-weight: 700;
    font-family: 'Dancing Script', cursive;
    border-bottom: 5px solid rgba(255, 255, 255, 0.5);
    
  }
  .mention p {
      color: #fff;
      justify-content: center;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 10px 0 25px 0;
      text-align: center;
  }

  .lien__web {
    text-decoration: none;
    color: #fff;
  }

  .style__list {
    list-style: none;
    padding-left: 0;
  }

  .color__mention {
    background-color: rgb(53, 44, 58);
  }