/* CSS Whoami */
.whoami {
    padding: 10px 0;
    position: relative;
    background-color: #835e83bb;
    
  }
  .whoami h2 {
      font-size: 45px;
      font-weight: 700;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  }
  .whoami p {
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: left;
    width: 64%;
    
  }
  .imgTaille {
    display: block;
      margin-left: auto;
      margin-right: auto;
      width: 35%;
      
    
  }

  /** BREAKPOINTS **/
/* For large devices */
@media screen and (max-width: 992px){
  .imgTaille {
    width: 70%;
  }
}
/* For medium devices */
@media screen and (max-width: 768px) {
  .imgTaille {
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .imgTaille {
    width: 70%;
  }
}
/* For small devices */
@media screen and (max-width: 350px) {
  .imgTaille {
    width: 70%;
  }
}